<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Services</li>
    </ol>
  </nav>
</div>


<div>
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Repository</td>
      <td>Deployment Strategy</td>
      <td>Update Strategy</td>
    </tr>
    </thead>
    <tbody>
    <% @services.each do |service| %>
      <tr onclick="location.href = '<%= repository_service_path(service.repository, service.id) %>';">
        <td><%= service.name %></td>
        <td><%= service.repository.repository %></td>
        <td><%= service.deployment_strategy %></td>
        <td><%= service.update_strategy %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!--<div >-->
<!--  <a class="float-right" href="<%#= new_service_url %>">Create new service</a>-->
<!--</div>-->
