<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= repository_path(@repository) %>"><%= @repository.repository %></a></li>
      <li class="breadcrumb-item"><a href="<%= repository_services_path(@repository) %>">Service</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Service</li>
    </ol>
  </nav>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-4">
    <div class="card">
      <%= bootstrap_form_for([@repository, @service]) do |f| %>
        <div class="card-header">Details</div>
        <div class="card-body">
          <%= f.text_field :name %>
          <%= f.text_field :deployment_strategy %>
          <%= f.text_field :update_strategy %>
        </div>
        <div class="card-footer">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
