<div class="card">
  <div class="card-header">Clusters</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Region</th>
          <th>Version</th>
          <th>Provider</th>
          <th>Connection</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @clusters.each do |cluster| %>
          <tr>
            <td><%= link_to cluster.name, cluster %></td>
            <td><%= cluster.region %></td>
            <td><%= cluster.version %></td>
            <td><%= cluster.provider %></td>
            <td><%= cluster.connection_type %></td>
            <td><%= cluster.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "Create cluster", new_cluster_path, class: "btn", disabled: true %>
  </div>
</div>