<div class="card">
  <%= form_for(@cluster) do |f| %>
  <div class="card-header">Create new cluster</div>
  <div class="card-body">
    <p>Select a provider:</p>
    <div class="form-check">
      <%= f.radio_button :provider, "lbx", checked: true %>
      <%= f.label :provider, "Launchbox" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :provider, "aws", disabled: true %>
      <%= f.label :provider, "AWS (coming soon)" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :provider, "gcp", disabled: true %>
      <%= f.label :provider, "GCP (coming soon)" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :provider, "azure", disabled: true %>
      <%= f.label :provider, "Azure (coming soon)" %>
    </div>
  </div>
  <div class="card-footer">

  </div>
  <% end %>
</div>