
<div class="row justify-content-md-center">
  <div class="col-md-3 pt-5">
    <div class="card">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="row">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
            </div>
            <a href="<%= new_user_session_path %>">Have an account?</a>
            <br>
            <a href="<%= new_user_registration_path %>">Need an account?</a>
            <br>
            <%= f.submit "Reset my Password", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
