<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Clusters</li>
    </ol>
  </nav>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Slug</td>
        <td>Provider</td>
        <td>Version</td>
        <td>Region</td>
        <td>Status</td>
        <td>Agent</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @clusters.each do |cluster| %>
      <tr  onclick="location.href = '<%= admin_cluster_path(cluster.id) %>';">
        <td><%= cluster.name %></td>
        <td><%= cluster.slug %></td>
        <td><%= cluster.provider %></td>
        <td><%= cluster.version %></td>
        <td><%= cluster.region %></td>
        <td>
          <% if cluster.status == "active" %>
            <span class="badge bg-success">Active</span>
          <% else %>
            <span class="badge bg-warning"><%= cluster.status %></span>
          <% end %>
        </td>
        <td>
          <% if cluster.agent_connected %>
            <span class="badge bg-success">Connected</span>
          <% else %>
            <span class="badge bg-secondary">Disconnected</span>
          <% end %>
        </td>
        <td><a href="/admin/clusters/<%= cluster.id %>/edit"><i class="bi bi-pencil"></i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div >
  <a class="float-right" href="/admin/clusters/new">Create new cluster</a>
</div>
