<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= admin_clusters_path %>">Clusters</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Cluster</li>
    </ol>
  </nav>
</div>


<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <%= bootstrap_form_for [:admin, @cluster] do |f| %>
        <div class="card-header">Cluster Info</div>
        <div class="card-body">
          <%= f.text_field :name %>
          <%= f.text_area :ca_crt %>
          <%= f.text_field :host %>
          <%= f.password_field :token %>

        </div>
        <div class="card-footer">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
