<h1>Creating a new cluster</h1>

<div class="card">
  <%= bootstrap_form_for([:admin, @cluster]) do |f| %>
    <%= f.text_area :ca_crt %>
    <%= f.text_field :host %>
    <%= f.password_field :token %>
    <%= f.submit "Submit" %>
  <% end %>
</div>