<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= admin_clusters_path %>">Clusters</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @cluster.name %></li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Details</div>
          <div class="card-body">
            <table class="table">
              <tr>
                <td>Name</td>
                <td><%= @cluster.name %></td>
              </tr>
              <tr>
                <td>Slug</td>
                <td><%= @cluster.slug %></td>
              </tr>
              <tr>
                <td>Domain</td>
                <td><%= @cluster.domain %></td>
              </tr>
              <tr>
                <td>Provider</td>
                <td><%= @cluster.provider %></td>
              </tr>
              <tr>
                <td>Version</td>
                <td><%= @cluster.version %></td>
              </tr>
              <tr>
                <td>Region</td>
                <td><%= @cluster.region %></td>
              </tr>
              <tr>
                <td>Status</td>
                <td>
                  <% if @cluster.status == "active" %>
                    <span class="badge bg-success">Active</span>
                  <% else %>
                    <span class="badge bg-warning"><%= @cluster.status %></span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>Client ID</td>
                <td><%= @cluster.oauth_application.uid %></td>
              </tr>
              <tr>
                <td>Client Secret</td>
                <td>
                  <%= @cluster.oauth_application.secret %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Agent Information</div>
          <div class="card-body">
            <table class="table">
              <tr>
                <td>Status</td>
                <td>
                  <% if @cluster.agent_connected %>
                  <span class="badge bg-success">Connected</span>
                  <% else %>
                  <span class="badge bg-secondary">Disconnected</span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>Last Ping</td>
                <td><%= @cluster.agent_last_ping %></td>
              </tr>
              <tr>
                <td>Pod</td>
                <td><%= @cluster.agent_identifier %></td>
              </tr>
              <tr>
                <td>Version</td>
                <td><%= @cluster.agent_version %></td>
              </tr>
            </table>
          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Deployed Projects</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>Slug</th>
            <th>CPU</th>
            <th>Memory</th>
            <th>Disk</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <% @projects.each do |project| %>
          <tr>
            <td>
              <a href="<%= project_url project %>">
                <%= project.slug %>
              </a>
            </td>
            <td><%= project.cpu %></td>
            <td><%= project.memory %></td>
            <td><%= project.disk %></td>
            <td><%= project.status %></td>
          </tr>
          <% end %>
          <tr>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
