<style type="text/css" media="screen">
    #editorContainer {
        width: 100%;
        height: 100px;
        position: relative;
        background-color: red;
    }
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<div class="card">
  <%= form_for(@addon) do |f| %>
    <div class="card-header">New Addon</div>
    <div class="card-body">
      <div class="mb-3">
        <%= f.label :addon, "Repository", class: "form-label" %>
        <%= f.text_field :repo, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :addon, "Chart", class: "form-label" %>
        <%= f.text_field :chart, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :addon, "Version", class: "form-label" %>
        <%= f.text_field :version, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :addon, "Username", class: "form-label" %>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :addon, "Password", class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :addon, "Release", class: "form-label" %>
        <%= f.text_field :release, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :addon, "Namespace", class: "form-label" %>
        <%= f.text_field :namespace, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :addon, "Values", class: "form-label" %>
        <%= f.text_area :values, class: "form-control", style: "display: none", id: "values" %>
        <div id="editorContainer">
          <div id="editor"></div>
        </div>
        <script>
          var editor = ace.edit("editor");
          editor.setTheme("ace/theme/textmate");
          editor.session.setMode("ace/mode/yaml");
          var textarea = $('textarea[name="addon[values]"]').hide();
          console.log(textarea)
          editor.getSession().setValue(textarea.val());
          editor.getSession().on('change', function(){
            console.log(editor.getSession().getValue())
            textarea.val(editor.getSession().getValue());
          });
        </script>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn" type="submit">Save</button>
    </div>
  <% end %>

</div>