<div class="card">
  <div class="card-header">Projects</div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Region</th>
        <th>Version</th>
        <th>Provider</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= project.cluster.region %></td>
          <td><%= project.cluster.version %></td>
          <td><%= project.cluster.provider %></td>
          <td><%= project.status %></td>
          <td>
            <% if ['provisioned', 'running'].include? project.status %>
            <button class="btn">Pause</button>
            <% elsif ['paused'].include? project.status %>
            <button class="btn">Resume</button>
            <% end %>
            <%= button_to 'Delete', project, method: :delete, form: {onsubmit: "return confirm('Do you really want to delete this project?');" }, class: "btn" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a href="/projects/new" class="btn">Create a new project</a>
  </div>
</div>