<div class="row">
  <div class="col-md-8">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= projects_path %>">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
      </ol>
    </nav>
  </div>
  <div class="col-md-4">
    <div class="dropdown">
      <a class="btn btn-small btn-sm btn-outline-secondary dropdown-toggle float-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="<%= kubeconfig_project_url(@project) %>" target="_blank">Download Kubeconfig</a></li>
        <li><a class="dropdown-item" href="#">Force Sync</a></li>
        <li><a class="dropdown-item" href="#">Pause</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Details</div>
          <div class="card-body">
            <table class="table">
              <tr>
                <td>Slug</td>
                <td><%= @project.slug %></td>
              </tr>
              <tr>
                <td>Version</td>
                <td><%= @project.kubernetes_version %></td>
              </tr>
              <tr>
                <td>Cluster</td>
                <td>
                  <% if current_user.admin? %>
                  <a href="<%= admin_cluster_url @project.cluster %>">
                    <%= @project.cluster.slug %>
                  </a>
                  <% else %>
                  <%= @project.cluster.slug %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>Domain</td>
                <td>api.<%= @project.slug %>.<%= @project.cluster.domain %></td>
              </tr>
              <tr>
                <td>Status</td>
                <td>
                  <%= render partial: "projects/partials/status", locals: {project: @project} %>
                <td>
              </tr>
              <tr>
                <td>ID</td>
                <td><%= @project.id %></td>
              </tr>
              <tr>
                <td>Memory</td>
                <td><%= @project.memory %> Mi</td>
              </tr>
              <tr>
                <td>CPU</td>
                <td><%= @project.cpu %></td>
              </tr>
              <tr>
                <td>Disk</td>
                <td><%= @project.disk %> GB</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12 pt-2">
        <div class="card">
          <div class="card-header">Users</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <td>Email</td>
                  <td>Role</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @project.user.email %></td>
                  <td>Admin</td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <a href="<%= new_project_user_path(@project) %>">
              Modify Access
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Addons</div>
        <div class="card-body">
          <% if @project.addon_subscriptions.length == 0 %>
            <div class="alert alert-info">
              No addons have been added to this project
            </div>
          <% else %>
            <table class="table">
              <thead>
              <tr>
                <th>Addon</th>
                <th>Name Override</th>
                <th>Version</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @project.addon_subscriptions.each do |sub| %>
              <tr>
                <td><%= sub.addon.name %></td>
                <td><%= sub.name %></td>
                <td><%= sub.addon.oci_version %></td>
                <td><%= sub.status %></td>
                <td>
                  <%= button_to "delete", project_addon_path(@project, sub), :method => :delete, :class => 'btn btn-small btn-outline-danger float-end'  %>
                </td>
              </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class="card-footer">
          <a href="<%= new_project_addon_path(@project) %>">
            Attach Addon
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 pt-2">
      <div class="card">
        <div class="card-header">Services</div>
        <div class="card-body">
            <div class="alert alert-info">
              No services have been added to this project
            </div>
        </div>
        <div class="card-footer">
          <a href="#">
            Add Service
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
