<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= projects_path %>">Projects</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
    </ol>
  </nav>
</div>

<a href="<%= kubeconfig_project_url(@project) %>" target="_blank">Download Kubeconfig</a>
<h3>Users</h3>
<ul class="list-group">
  <% @project.users.each do |user| %>
  <li class="list-group-item">
    <%= button_to "delete", project_user_path(@project, user), :method => :delete %> <%= user.email %>
  </li>
  <% end %>
</ul>
<%= form_with url: project_users_path(@project) do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.submit "Submit" %>
<% end %>

<h3>Addons</h3>
<% if @project.addon_subscriptions.length == 0 %>
  <div class="alert alert-info">
    No addons have been added to this project
  </div>
<% else %>
<ul class="list-group">
  <% @project.addon_subscriptions.each do |subscription| %>
  <li class="list-group-item">
    <%= subscription.addon.name %>
    <%= button_to "delete", project_addon_path(@project, subscription), :method => :delete %>
  </li>
  <% end %>
</ul>
<% end %>
<a href="<%= new_project_addon_path(@project) %>">
  Attach Addon
</a>