<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Addons</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>OCI Registry</td>
          <td>Version</td>
          <td>Activation Policy</td>
          <td>Pull Policy</td>
          <td>Created At</td>
        </tr>
      </thead>
      <tbody>
        <% @addons.each do |addon| %>
        <tr onclick="location.href = '<%= admin_addon_path(addon.id) %>';">
          <td><%= addon.name %></td>
          <td><%= addon.oci_registry %></td>
          <td><%= addon.oci_version %></td>
          <td><%= addon.activation_policy %></td>
          <td><%= addon.pull_policy %></td>
          <td><%= addon.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<a href="/admin/addons/new">Create new addon</a>
