<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= admin_addons_path %>">Addons</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Addon</li>
    </ol>
  </nav>
</div>


<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <%= bootstrap_form_for [:admin, @addon] do |f| %>
        <div class="card-header">Addon Info</div>
        <div class="card-body">
          <%= f.text_field :name %>
          <%= f.text_field :oci_registry %>
          <%= f.text_field :oci_version  %>
          <%= f.select :pull_policy, ["IfNotPresent", "Always", "Never"] %>
          <%= f.select :activation_policy, ["Automatic", "Manual"] %>
          <%= f.text_area :template %>
        </div>
        <div class="card-footer">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
